body {
    background-color: hotpink;
}
.h1a {
    color: white;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 20px;
    background-color: deeppink;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}